files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03inject_dockerrun.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      set -e

      . /opt/elasticbeanstalk/hooks/common.sh

      EB_CONFIG_APP_CURRENT=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      cd $EB_CONFIG_APP_CURRENT

      ZOOKEEPER_HOSTNAME=`wget -qO- http://169.254.169.254/latest/meta-data/local-hostname`
      FILE="Dockerrun.aws.json"

      if [ -f $FILE ]; then
        jq --arg zk $ZOOKEEPER_HOSTNAME 'if .containerDefinitions[0].environment[0].name == "HOSTNAME" then
          .containerDefinitions[0].environment[0].value |= $zk
        else
          empty
        end' $FILE > $FILE.tmp && mv $FILE.tmp $FILE
      fi
